.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #FFF9E2;
}

.logo {
    width: 300px; /* Ajuste conforme necessário */
    margin-top: 40px;
    margin-bottom: 30px; 

}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f3e1;
}

.form-wrapper {
    background-color: white;
    padding: 20px;
    border-radius: 0px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    height: 450px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    color: #3D5547;
    
}

.form-group input {
    background-color: #F3F3F3;
    padding: 10px;
    border: 1px solid #f4e6e6;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.form-title {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 600;
    color: #3D5547;
    letter-spacing: 3px;
}

.button-container {
    display: flex;
    justify-content: center /* Alinha o botão à direita */
}

.submit-button {
    padding: 10px;
    margin-top: 20px;
    width: 200px;
    border: none;
    border-radius: 5px;
    background-color: #F3F3F3;
    color: #3D5547;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #88b297;
}

.error-message {
    font-size: 14px;
    color: red;
    margin-top: 20px;
}

.register-title {
    margin-top: 50px;
    font-size: 12px;
    color: #3D5547;
    letter-spacing: 3px;
}

.register-button {
    padding: 10px;
    
    width: 200px;
    border: none;
    border-radius: 5px;
    background-color: #3D5547;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.register-button:hover {
    background-color: #88b297;
}