.register-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #FFF9E2;
}

.logo {
    width: 300px;
    margin-top: 20px;
    margin-bottom: 30px; 
}

.register-page h2 {
    margin-bottom: 30px;
    font-size: 18px;
    letter-spacing: 2px;
    color: #3D5547;
}

.register-page h3 {
    margin-bottom: 20px;
    font-size: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #eb0909; 
}

.register-page form {
    width: 400px; /* Largura do formulário */
    
}

.register-page .form-group {
    margin-bottom: 20px;
}

.register-page .form-group label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    color: #3D5547;
}



.register-page .form-group input {
    background-color: #F3F3F3;
    padding: 10px;
    border: 1px solid #f4e6e6;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.register-page .error-message {
    font-size: 14px;
    color: red;
    margin-top: 10px;
}

.register-page button {
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #3D5547; /* Cor do botão semelhante à página de login */
    color: #fff; /* Cor do texto do botão */
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.register-page button:hover {
    background-color: #88b297; /* Cor do botão ao passar o mouse semelhante à página de login */
}
