.quem-somos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
  
}

.background-image-container {
  width: 100%;
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -150px;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.descricao-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px; 
  text-align: center; 
}


.titulo {
  text-align: center;
  margin-bottom: 20px;
}

.descricao {
  align-items: center;
  justify-content: center;
  font-size: 19px;
  color: #333;
  line-height: 1.6;
  max-width: 600px;
  width: 100%;
  text-align: justify;
  margin: 0 auto;
}

.contactIcon {
  width: 30px; 
  height: 30px; 
  margin-right: 10px; 
  vertical-align: middle; 
}

.contactContainer {
  text-align: center; 
  margin-top: 20px; 
}

.contactLink {
  font-size: 14px;
}

