.quem-somos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
  
}

.background-image-container {
  max-width: 100%;
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -150px;
}

.background-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.descricao-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px; 
  text-align: center; 
}


.titulo {
  text-align: center;
  margin-bottom: 20px;
}

.descricao {
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  max-width: 600px;
  width: 100%;
  text-align: justify;
  margin: 0 auto;
}

